<!doctype html>

<html>
<head>
	<title>Add</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	
	<link href="/css/focusTym.css" rel="stylesheet">
</head>

<body>
	
 	<div class="container">
		<a href="/index"><button class="btn"><i class="fa fa-arrow-alt-circle-left"></i> Go Back</button></a>
		<a id="settings" href="/settings">
			<button align="right" class="btn"" onclick=""><i class="fa fa-cog"></i>Settings</button>
		</a>
			
	
		<form id="addSubject" role="form" method="get" action="/submit">
			<h3>New Group</h3>
		    <div class="form-group">
		      <label for="name">Group Name*:</label>
		      <input type="text" class="form-control" id="name" placeholder="Name" name="name">
	   		</div>
	  	  
			  <input type="submit" id="submitBtn" class="btn btn-default" value="Add Group"></input>
		</form>
	</div>
	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/focusTym.js"></script>
	
	<script src="/js/bootstrap-slider.js"></script>
</body>
</html>