<!doctype html>

<html>
<head>
	<title>Add</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	
	<link href="css/focusTym.css" rel="stylesheet">
</head>

<body>
	
 	<div class="container">
		<button class="btn" onclick="goBack()"><i class="fa fa-arrow-alt-circle-left"></i> Go Back</button> 
		<a id="settings" href="/settings">
			<button align="right" class="btn"" onclick=""><i class="fa fa-cog"></i>Settings</button>
		</a>
			
	
		<form id="addSubject" role="form" method="get" action="/submit">
			<h3>New Subject</h3>
		    <div class="form-group">
		      <label for="name">Subject:</label>
		      <input type="text" class="form-control" id="name" placeholder="Name" name="name">
	   		</div>
	  		<div class="form-group">
	      		<label for="topic1">Topic 1:</label>
	    	  <input type="text" class="form-control" id="topic1" placeholder="Topic" name="topic1">
	 	    </div>
	 	    <div class="form-group">
	      		<label for="time1">Time:</label>
	    	  <input type="text" class="form-control" id="time1" placeholder="time1" name="time1">
	 	    </div>
	 	    	<div class="form-group">
	      		<label for="topic2">Topic 2:</label>
	    	  <input type="text" class="form-control" id="topic2" placeholder="Topic" name="topic2">
	 	    </div>
	 	    <div class="form-group">
	      		<label for="time2">Time:</label>
	    	  <input type="text" class="form-control" id="time2" placeholder="time2" name="time2">
	 	    </div>
	 	    	<div class="form-group">
	      		<label for="topic3">Topic 3:</label>
	    	  <input type="text" class="form-control" id="topic3" placeholder="Topic" name="topic3">
	 	    </div>
	 	    <div class="form-group">
	      		<label for="time3">Time:</label>
	    	  <input type="text" class="form-control" id="time3" placeholder="time" name="time3">
	 	    </div>
	 	    	<div class="form-group">
	      		<label for="topic4">Topic 4:</label>
	    	  <input type="text" class="form-control" id="topic4" placeholder="Topic" name="topic4">
	 	    </div>
	 	    <div class="form-group">
	      		<label for="time4">Time:</label>
	    	  <input type="text" class="form-control" id="time4" placeholder="time" name="time4">
	 	    </div>
			    <input type="submit" id="submitBtn" class="btn btn-default" value="Add Subject"></input>
		</form>
	</div>
	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/focusTym.js"></script>
</body>
</html>