<!doctype html>

<html>
<head>
	<title>Help</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	
	<link href="/css/focusTym.css" rel="stylesheet">
</head>

<body>
	<div class="container">
	<button class="btn" onclick='goBack()'><i class="fa fa-arrow-alt-circle-left"></i> Go Back</button>
{{>header}}

	<h1>Help</h1>

	<p>Welcome to FocusTym! Below you will find instructions on how to properly use this app.
	<br>This app is intended for your study groups to set alarms on topics to study for, but may be used
	for timing other tasks as well.</p>

	<h2>Getting Started</h2>

	<p>1. Have one designated person in your group to create a new group.
	<br>2. Have the other members of the group join the newly created group by entering the matching name.
	<br>3. Tap the group's button on the home page.
	<br>4. All group members may add topics with their own choice of times.
	<br>6. Topics may then be upvoted if the group would like to focus on one topic before another.
	<br>5. The group leader can hit play to start the timer for the highest voted topic.
	<br>6. Once a timer ends, the group leader can choose to snooze or loop the alarm, or move on to the next topic.
	</p>

	<h2>FAQ</h2>

	<p>Q: How can I change the alarm type?
	<br>A: The settings page allows you to select which alarm type you want.
	<br>
	<br>Q: Why doesn't my time input work?
	<br>A: The time input accepts numbers only. Please enter the amount of seconds you want as your timer.
	<br>
	<br>Q: How do I change a topic's name or time?
	<br>A: There is an edit button to the right of the listed topic. Tapping the button takes you to a page where you
		   can edit your topics.
	<br>
	<br>Q: How many topics or groups can I have?
	<br>A: You can have as many as you'd like, as long as there are no duplicates in the names.
	
	</p>
	</div>
	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/focusTym.js"></script>
	
	<script src="/js/bootstrap-slider.js"></script>
</body>
</html>