<!doctype html>

<html>
<head>
	<title>FocusTym</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	
		<link href="css/focusTym.css" rel="stylesheet">
</head>

<body>
	<div class="container">
	<button class="btn" onclick="goBack()"><i class="fa fa-arrow-alt-circle-left"></i> Go Back</button> 
			<button align="right" class="btn"" onclick=""><i class="fa fa-cog"></i>Settings</button> 
			
		<h1>FocusTym</h1>
		<hr class=a>
		<div>
			<div style="width: 100%; display: table;">
			<h2>Group: studs</h2>
			<div style="width: 100%; display: table;">
			<div class="btn btn-default friends" style="display: table-row">
		        <button class="btn">
		           <i class="fas fa-plus"></i>
		        </button>
		        New Subject
		   	</div>
		    </div>

		   	{{#each subjects}}
			<hr>
			<div class="btn btn-default" style="display: table-row" >
		        <a id="{{name}}" href="topics/{{name}}">{{name}}</a>
		        <button class="btn" id="edit">
		           <i class="fas fa-user-edit"></i>
		        </button>
		        <button class="btn" id="delete">
		           <i class="fas fa-trash-alt"></i>
		        </button>
		    </div>

		    {{/each}}
		</div>
		</div>

				
	</div>
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/focusTym.js"></script>
</body>
</html>