<!doctype html>

<html>
<head>
	<title>Add</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	
	<link href="/css/focusTym.css" rel="stylesheet">
	<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-135994536-1', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->
</head>

<body>
	
 	<div class="container">
  		<h1>  </h1>
		<a href="/index"><button class="btn"><i class="fa fa-arrow-alt-circle-left"></i> Go Back</button></a>
	{{>header}}
	
		<form id="joinGroup" role="form" method="get" action="/join">
			<h3>Join a Group</h3>
		    <div class="form-group">
		      <label for="name">Group Name*:</label>
		      <input type="text" class="form-control" id="name" placeholder="Name" name="name">
	   		</div>
			    <input type="submit" id="joinGroupbtn" class="btn " value="Join Group"></input>
		</form>

	</div>
	<div id="warn"></div>
	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/focusTym.js"></script>
	
	<script src="/js/bootstrap-slider.js"></script>
</body>
</html>