<!doctype html>

<html>
<head>
	<title>Settings</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">

	<link href="/css/bootstrap-slider.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	
		<link href="css/focusTym.css" rel="stylesheet">
</head>

<body>
	
 	<div class="container">
		<button class="btn" onclick="goBack()"><i class="fa fa-arrow-alt-circle-left"></i> Go Back</button> 
				
	{{>header}}
		<h1>Settings</h1>
<h3>Volume</h3>
		<div class="well">
			<input
			    type="text"
			    id="vol"
			    data-provide="slider"
			    data-slider-min="1"
			    data-slider-max="10"
			    data-slider-step="1"
			    data-slider-tooltip="hide"
			>
		</div>
		<h3>Snooze Duration</h3>
		Minutes:
		<input  type="number" name="tim" id="tim" onchange='saveValue(this);' min="1" max="5"  ><button class="btn" id="setTimer">Update</button> </input>
				

		<!--<select id="ddlViewBy">
		  <option value="1">test1</option>
		  <option value="2" selected="selected">test2</option>
		  <option value="3">test3</option>
		</select>
		--->
		<h3>Alarm Options</h3>
		<div class="form-group">
		   	<select name="alarmOptions" id="alarmOptions" onchange="changeAlarm(this)">
		   		<option></option>
		    	<option value="https://www.freespecialeffects.co.uk/soundfx/music/drum_01.wav"> Drum 1 </option>
		    	<option value="https://www.freespecialeffects.co.uk/soundfx/music/drum_09.wav"> Drum 9 </option>
	 		</select>
		</div>


	</div>

	
<script type="text/javascript">
        document.getElementById("tim").value = getSavedValue("tim");    // set the value to this input
		document.getElementById('alarmOptions').value = localStorage.getItem("audio");


       // FOR VOLUME SLIDER
       // var valvol = localStorage.getItem("volume");
	   // valvol = parseFloat(valvol) * 10;
       // console.log("vol " + valvol);

       // document.getElementById("vol").value = valvol;


        //Save the value function - save it to localStorage as (ID, VALUE)
        function saveValue(e){
            var id = e.id;  // get the sender's id to save it . 
            var val = e.value; // get the value. 
            if(val <=0){
            	val = 1;
            }
            localStorage.setItem(id, val);// Every time user writing something, the localStorage's value will override . 
        }

        //get the saved value function - return the value of "v" from localStorage. 
        function getSavedValue  (v){
            if (!localStorage.getItem(v)) {
                return "1";// You can change this to your defualt value. 
            }
            return localStorage.getItem(v);
        }
</script>

	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/bootstrap-slider.js"></script>
	<script src="/js/focusTym.js"></script>
	
</body>
</html>