<!doctype html>

<html>
<head>
	<title>{{name}}</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link href="/css/focusTym.css" rel="stylesheet">
</head>

<body>
	<div class="container">
		<button type="button" onclick="goBack()">Go Back</button> 
		<button align="left" type="button" onclick="">Settings</button> 
		
		<h1>{{name}}</h1>
		<hr class=a>
		<div>
			<div style="width: 100%; display: table;">
		   	{{#each topics}}
		   	</br>
			<hr>
			
			{{topic}}:{{time}}
		   
		    {{/each}}
		    </div>
		</div>
			</br>
					<hr>
		<div>
			current topic:
		</div>
		<div>Equations | 3:27 </div>
		play/pause	end topic
				
	</div>
	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/focusTym.js"></script>
</body>
</html>