/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

hr.a { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}
.friends{
	width: 300px;
}
.subject{
	width: 300px;
}
.text{
	text-align: center;
	color: #000000;
}
#edit{
  text-align: left;
  color: #000000;
}
#delete{
  text-align: right;
  color: #000000;
}